<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List App</title>
    <link rel = "stylesheet" href = "/main.css">
</head>
<body>
    <header>
        <a href = "/tasks/new">
        </a>
        <nav>
            <a href="/tasks/new">Add</a>
            <a href="/tasks/">Full List</a>
            <a href="/register">Register</a>
            <a href="/login">Log in</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>


</body>

</html>